.buttons {
  height: 60px;
  padding: 13px 20px;
  display: flex;
  gap: 10px;
}
.buttons .isday {
  flex-grow: 1;
  margin-top: 10px;
}
.buttons .state {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 15px;
}
