.todoItem {
  font-size: 15px;
  border-bottom: 1px solid #d0d0d0;
  width: 90%;
  margin: 5px auto;
  padding: 5px 8px 7px 8px;
  display: flex;
}

.todoItem .text {
  flex-grow: 1;
}
.todoItem .delete {
  opacity: 0.4;
  cursor: pointer;
  transition: 0.1s;
}

.todoItem .delete:hover {
  opacity: 1;
}
